@charset "utf-8";
/* CSS Document */
body
{
	width:100%;
	height:100%;
	background-image:url(../img/bg.png);
	background-repeat:repeat;
	background-position:center top;
	padding: 0;
	margin: 0;
}
.wrapper
{
	position: relative;
	z-index: 0;
	width: 100%;
	min-width:1024px;
	min-height: 100%;
	left: 0;
	top: 0;
	cursor: default;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.wrapper:before
{
	content:'';
	position:absolute;
	width:100%;
	height:280px;
	background-image:url(../img/bg_texture.png);
	background-position:center top;
	background-repeat:repeat-x;
	z-index:40;
}
.wrapper:after
{
	content:'';
	position:absolute;
	width:100%;
	height:170px;
	bottom:0;
	background-image:url(../img/bg_texture.png);
	background-position:center top;
	background-repeat:repeat-x;
	-moz-transform: scaleY(-1);
     -o-transform: scaleY(-1);
-webkit-transform: scaleY(-1);
        transform: scaleY(-1);
	z-index:40;
}
.start
{
	width: 300px;
	height: 100%;
	position: relative;
}
.home
{
	width: 173px;
	height: 128px;
	position: absolute;
	background-image: url(../img/house.png);
	background-repeat:no-repeat;
	bottom:170px;
	z-index:10;
}
.grass
{
	background-image:url(../img/grass.png);
	background-repeat:no-repeat;
	position:absolute;
	width:296px;
	height:46px;
	bottom:170px;
	z-index:20;
}
.rock
{
	background-image:url(../img/rock.png);
	background-repeat:no-repeat;
	position:absolute;
	width:297px;
	height:172px;
	bottom:0;
	z-index:15;
}
#scrumpy
{
	position:relative;
	width:100px;
	height:101px;
	z-index: 18;
	margin-left: 178px;
	margin-top:0px;
	bottom: 272px;
}
.animate
{
   transition-duration: 0.7s !important;
  -o-transition-duration: 0.7s !important;
  -webkit-transition-duration: 0.7s !important;
  -moz-transition-duration: 0.7s !important;
}
.obstacles_wrapper
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.clouds
{
	position:relative;
	width:100%;
}
.cloud
{
	position:absolute;
	right:-100px;
	display:inline-block;
	min-width:100px;
	height:100%;
	background-image:url(../img/clouds/cloud_1.png);
	background-position:center top;
	background-repeat:no-repeat;
	margin-left:20px;
}
.flip
{
	-webkit-transform: rotateZ( 360deg );
    -moz-transform: rotateZ( 360deg );
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ( 360deg );
    transform: rotateZ( 360deg ); 
	transition-duration: 0.7s !important;
 	-o-transition-duration: 0.7s !important;
 	-webkit-transition-duration: 0.7s !important;
    -moz-transition-duration: 0.7s !important;
}